@font-face {
    font-family: huesos;
    src: url("../fonts/GnarlySpine_PERSONAL_USE_ONLY.otf");
}
@font-face {
    font-family: cuerpo;
    src: url("../fonts/Poppins-Light.ttf");
}
body{
    background-color: #c4bbbb;
}
h1{
    background-image: url("../images/hand.png");
    background-size:cover;
    padding: 80px;
    text-align: center;

}
h2{
    background-color: #101010;
    color: red;
    text-align: center;
}
h3{
    background-color: red;
    color: black;
    text-align: center;
}
h1,
h2,
h3,
h4 {
    font-family: huesos, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    clear: both;
}
p::first-letter {
    font-family: huesos, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

p{
    font-family: cuerpo, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
    color: #ff0000;
}

#apartado4 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}
figure img.galeria{
    grid-column: auto;
    width:100%;
}
figure{
    text-align: center;
}
input,select,textarea{
    box-sizing: border-box;
    display: block;
    cursor:pointer;
    transition:  1s linear;
    width: 50%;
    border-radius: 20px;
    padding: 10px;    
    font-size: 12px;
    border: 10px double red;
}

input:focus,select:focus,textarea:focus{
    border: 10px solid black;
    display: block;
    background-color: rgb(245, 190, 190);
}
.required::after{
    content:"*";
    color:red;
}
.formBtn{
    width: 35px;
    height: 35px;
}
button.aceptar{
    background-color: green;
}
button.cancelar{
    background-color: red;
}
textarea{
    resize: none
}
.logo_kick{
    width: 50%;
}
.apartado1{
    display: flex;
}
.texto {
    width: 49%;
    float:left;
}
.ubicacion {
    width: 49%;
    float:right;
}
.apartado2{
    display: flex;
}
.precios {
    width: 49%;
    float:left;

}
.infoadicional {
    width: 49%;
    float:right;
}



/**********=======Menú y submenú=======**********/
/**********=======Menú y submenú=======**********/
/**********=======Menú y submenú=======**********/
.menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 0;
    list-style: none;
}

.menu-item {
    background: rgb(10, 10, 10);
    padding: 1em 0.5em;
    position: relative;
    border-bottom: 5px solid #303030;
    margin: 1em 0.25em;
    cursor: pointer;
    min-width: 8em;
    text-align: center;
}

.menu-item:hover,
.menu-item:focus-within {
    border-bottom-color: #101010;
    background: #ff0000;
}

.menu-item:hover .sub-menu,
.menu-item:hover .sub-menu:hover,
.menu-item:focus-within .sub-menu,
.menu-item:focus-within .sub-menu:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.sub-menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    margin-top: 1em;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.sub-menu .menu-item {
    margin: 0.1em 0;
    padding: 1em;
    width: 10em;
    text-align: center;
    z-index: 2;
}

nav ol li a {
    color: #dbd1a2;
    text-decoration: none;
    text-transform: uppercase;
}

nav ol li a:focus {
    outline: none;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    width: 300px;
}

.mainmenu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainmenu {
    margin: 50px 0 0 20px;
}

.mainmenu a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

.mainmenu a:hover {
    background-color: #457b9d;
}


.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
