@font-face {
    font-family: huesos;
    src: url("../fonts/GnarlySpine_PERSONAL_USE_ONLY.otf");
}
@font-face {
    font-family: cuerpo;
    src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: tipografia_footer;
    src: url("../fonts/Ldfcomicsans-jj7l.ttf");
}
* {
    margin: 0;
    padding: 0;
    /* cursor: url(../images/hueso.jpg),auto; */
}
main {
    margin: 20px;
    padding: 10px;
}
body {
    background-color: #c4bbbb;
    font-family: cuerpo, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    background-image: url("../images/hand.png");
    background-size: cover;
    padding: 80px;
    text-align: center;
}

h2 {
    border-bottom: 4px solid #101010;
    color: red;
    text-align: center;
    margin: 10px 0;
}
h3 {
    color: black;
    text-align: center;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 20px;
}

.precios p {
    border: 3px solid black;
    padding: 50px;
    height: 100%;
    border-radius: 4px;
    background-color: #f0f0f0;
    box-shadow: -0.54em 0 0.6em rgb(195, 52, 23);
}
.texto p,
.infoadicional ul {
    border: 3px solid black;
    padding: 41px 50px;
    height: 100%;
    border-radius: 4px;
    background-color: #f0f0f0;
    list-style-image: url("../images/logos/lista.png");
    box-shadow: -0.54em 0 0.6em rgb(195, 52, 23);
}
.pelicula {
    display: flex;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    border: 2px solid rgb(205, 112, 112);
    box-shadow: -0.54em 0 0.6em black;
    width: 85%;
    margin-left: 7.5%;
}

.pelicula > img {
    float: left;
    width: 18%;
}
.pelicula > p {
    float: right;
    width: 49%;
}
h1,
h2,
h3,
h4 {
    font-family: huesos, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    clear: both;
}
p::first-letter {
    font-family: huesos, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

p {
    padding: 10px 20px;
    font-family: cuerpo, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#apartado4 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    width: 75%;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 12.5%;
}
figure img.galeria {
    grid-column: auto;
    width: 100%;
    text-align: center;
    align-items: center;
}
figure {
    font-size: x-large;
    font-family: huesos, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
input,
select,
textarea {
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    transition: 1s linear;
    width: 50%;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    border: 2px double black;
}

input:focus,
select:focus,
textarea:focus {
    border: 4px solid black;
    display: block;
    background-color: rgb(223, 212, 212);
}
.required::after {
    content: "*";
    color: red;
}

.formBtn {
    font-size: large;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
}
button.aceptar {
    background-color: rgb(45, 86, 45);
}
button.cancelar {
    background-color: rgb(145, 40, 40);
}
button.aceptar:hover {
    background-color: rgb(50, 183, 50);
    cursor: pointer;
}
button.cancelar:hover {
    background-color: rgb(240, 49, 49);
    cursor: pointer;
}
textarea {
    resize: none;
}
.logo_kick {
    width: 50%;
}
.apartado1 {
    display: flex;
}
.texto {
    width: 49%;
    float: left;
}
.ubicacion {
    width: 49%;
    float: right;
}
.apartado2 {
    display: flex;
}
.precios {
    width: 49%;
    float: left;
}
.infoadicional {
    width: 49%;
    float: right;
}

footer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(212, 255, 0);
    padding: 0;
    margin: 0;
    font-size: x-large;
}
.enlace {
    font-family: tipografia_footer, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    color: rgb(255, 164, 249);
    text-align: start;
}
.nombreApellidos {
    font-family: tipografia_footer, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    color: rgb(255, 164, 249);
    text-align: end;
}
.nombreApellidos::first-letter {
    font-family: tipografia_footer, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
}
.enlace::first-letter {
    font-family: tipografia_footer, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
}
/**********=======Menú y submenú=======**********/
/**********=======Menú y submenú=======**********/
/**********=======Menú y submenú=======**********/
.menu {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(10, 10, 10);
    width: 100%;
}
ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
    /* list-style-image: url("../images/logos/lista.png"); */
    padding: 0;
    margin: 0 1em;
}

.menu-item {
    padding: 0;
    background: rgb(10, 10, 10);
    padding: 1em 0.5em;
    position: relative;
    cursor: pointer;
    min-width: 8em;
    text-align: center;
}

.menu-item:hover,
.menu-item:focus-within {
    border-bottom-color: #101010;
    background: #ff0000;
}

.menu-item:hover .sub-menu,
.menu-item:hover .sub-menu:hover,
.menu-item:focus-within .sub-menu,
.menu-item:focus-within .sub-menu:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.sub-menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    margin-top: 1em;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.sub-menu .menu-item {
    margin: 0.1em 0;
    padding: 1em;
    width: 10em;
    text-align: center;
    z-index: 2;
}

nav ol li a {
    color: #dbd1a2;
    text-decoration: none;
    text-transform: uppercase;
}

nav ol li a:focus {
    outline: none;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    width: 300px;
}

.mainmenu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainmenu {
    margin: 50px 0 0 20px;
}

.mainmenu a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

.mainmenu a:hover {
    background-color: #457b9d;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
