* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

section{
    float: left;
    width: 100%;
}

img {
    width: 100px;
    height: auto;
    margin: 20px 40%;
    display: block;
    border: 3px solid green;
}

.division{
    padding: 3rem 5rem;
}

.division article div {
    float: left;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 203, 106);
    border: blue 2px solid;
    margin: 20px;
    border: 3px solid green;
}
.caja, .img{
    transition: transform 1s ease-in;
}

#boton1 , #boton2 ,#boton3, #boton4 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20px;
  }
  
  .my-button:hover {
    background-color: #45a049;
  }
  
  .my-button:active {
    background-color: #3e8e41;
  }

  .caja-trans {
    /* transform: translateX(200px);
    transform: translateY(200px); */
    transform: translate(200px, 10px);
}

.img-trans {
    /* transform: translateX(200px);
    transform: translateY(200px); */
    transform: translate(200px, 10px);
}

/*Rotate 2d*/
.caja-rot2d{
    transform: rotate(45deg) scale(1.5); /*Rotar 45 grados y escalar al 150%*/
}

.img-rot2d{
    transform: rotate(45deg) scale(1.5); /*Rotar 45 grados y escalar al 150%*/
}

/*Rotate 3d*/
.caja-rot3d{
    transform: rotateX(60deg);
}

.img-rot3d{
    transform:rotateY(60deg) rotateX(60deg)
}

/*skew 2d*/
.skew-rot2d{
    transform: skew(50deg, 20deg);
}

.skew-img{
    transform: skew(50deg, 20deg);
}