* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: row;
}
.anverso,
.reverso {
    position: absolute;
    width: 350px;
    height: 250px;
    background-position: center;
    padding: 3vh;
}

.ficha {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 1vw;
    overflow: hidden;
}
.equipo1.anverso {
    background-image: url("imgs/img1.png");
}

.equipo2.anverso {
    background-image: url("imgs/img2.png");
}

.equipo3.anverso {
    background-image: url("imgs/img3.jpg");
}

.reverso{
    background-color: greenyellow;
}

.reverso ul {
    list-style: none;
}

li::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(imgs/lista.jpg);
    background-size: contain;
    margin-right: 1rem;
}

.anverso{
    background-size:  100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    transition: all 0.25s ease 0.25s;
}
.ficha:hover .anverso{
    z-index: 0;
    transform: rotateX(180deg);
}

.reverso{
    z-index: 0;
    transform: rotateX(-180deg);
    transition: all 0.25s ease 0.25s;
}
.ficha:hover .reverso{
    z-index: 1;
    transform: rotateX(0deg);
}